#header{
    background-color: #026aa7;
}
*::-webkit-scrollbar {
    display: none;
  }
  
/* Hide scrollbar for IE, Edge and Firefox */
*{
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
#trello-logo{
    margin: auto;
    background-image: url('../images/trello-logo.gif');
    padding: px;
    height: 1rem;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
}
body{
    background-color: #fafbfc;
    font-family: 'Roboto Condensed', sans-serif;
}
.board-li{
    width: 194px;
    height: 96px;
    color: white;
    background-color: #755287;
    border-radius: 4px;
}
.board-item{
    width: 100%;
    height: 100%;
}
.add-board{
    width: 194px;
    height: 96px;
    color: #172b4d;
    background-color: #f0f2f4;
    border-radius: 4px;   
    transition: background-color 0.1s;
}
.add-board:hover{
    background-color: rgb(186, 188, 189);
}
.add-board div{
    margin: auto;
    line-height: 96px;
    text-align: center;
}
.list-item{
    width: 272px;
    height: max-content;
    background-color: #ebecf0;
}
#modal-area{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    transition: background-color 0.2s;
    background-color: #4347498a;
}
.modal-item{
    margin: auto;
    margin-top: 40vh;
    width: 296px;
    height: 92px;
    background-color: #519839;
}
.input-area, .input-area input{
    width: 100%;
    height: 28px;
}
.form-btn{
    width: 108px;
    height: 32px;
    background-color: #ebecf0;
}
.form-btn button{
    width: 100%;
    height: 100%;    
}
.add-new-list:hover, .add-new-card:hover{
    transition: background-color 0.2s;
    background-color: rgb(157, 152, 152);
}
#card-popup{
    margin: auto;
    margin-top: 30px;
    width: 700px;
    max-height: 650px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #f4f5f7;
}
/* .card-content{
} */